.root {
    -fx-accent: #0f9d58;
    -fx-focus-color: -fx-accent;
    -fx-base: #111;
    -fx-control-inner-background: derive(-fx-base,50%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
    -icons-color: #0f9d58;
}

.label{
    -fx-text-fill: lightgray;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {

}

.button-red {
-fx-background-color: red;
-fx-text-fill: black
}

.glyph-icon {
 -fx-text-fill: -icons-color;
 -fx-fill: -icons-color;
}


.edit-icon {
-glyph-name: "EDIT";
-icons-color: black;
}
.glass-grey {
    -fx-background-color: #141414;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}
.red-icon {
-icons-color: red;
}

.textField-red{
-fx-control-inner-background: #FF0000;
-fx-background-color: #FF0000;
}
.jfx-popup-container
{
-fx-background-color: #3C3C3C;
}
.table-view{
    -fx-background-color: derive(-fx-base, 10%);
    -fx-selection-bar-non-focused: derive(-fx-base, 85%);
}

.table-view .column-header .label{
    -fx-font-weight: none;
}